<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hbm2ddl.auto">validate</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/company_management</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">12345</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<mapping resource="company.hbm.xml" />
		<mapping resource="section.hbm.xml" />
		<mapping resource="employee.hbm.xml" />
	</session-factory>

</hibernate-configuration>